*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 30px;
}

.grid-container
{
    height: 100vh;
    border: 10px solid #000;
    display: grid;

    grid-template-rows: 60px 200px 200px 60px;
    grid-template-columns: repeat(6,200px);
    /*grid-template:*/
    /*    "header  header header"         200px*/
    /*    "main    main main"             50px*/
    /*    "footer  footer footer"         50px*/
    /*/ 1fr;*/
}

.grid-item
{
    background-color: #ccc;
    border: 4px solid #ff652f;
    padding: 20px;
}
.time
{
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    float: left;
    grid-area: 1/1/1/4;
}

.model
{
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    align-self:auto;
    grid-area: 1/4/1/7;
}

.item-1
{
    grid-area: 2/1/2/4;
}
.item-2
{
    grid-area: 2/4/2/7;
}
.item-3
{
    grid-area: 3/1/3/4;
}
.item-4
{
    grid-area: 3/4/3/7
}

.serwis
{
    grid-area: 4/4/4/5
}
.login
{
    grid-area: 4/5/4/6
}
.proces
{
    grid-area: 4/6/4/7
}

#CH1
{
     font-size: 70px;
    font-family: 'Roboto', sans-serif;
}
#CH2
{
     font-size: 70px;
    font-family: 'Roboto', sans-serif;
}
#CH3
{
     font-size: 70px;
    font-family: 'Roboto', sans-serif;
}
#CH4
{
     font-size: 70px;
    font-family: 'Roboto', sans-serif;
}
